[submodule "emacs.d/lisp/rinari"]
	path = emacs.d/lisp/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "emacs.d/lisp/rhtml"]
	path = emacs.d/lisp/rhtml
	url = https://github.com/eschulte/rhtml.git
